
<!--Dans un nouveau .html.twig, que je nomme base.html.twig, j'intègre mon header et mon footer
Cela va me permettre de conserver le même header et le même footer dans chacune de mes pages,
et donc d'éviter de les copier à chaque fois sur une page.
Cette page est vulgairement mon gabarit.-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--Dans le title de ma page base, j'appelle la fonction block metatitle qui va me permettre
    d'afficher mon metatitle sur toutes les pages de mon site-->
    <title>{% block metatitle %}La bibliothèque pour tous{% endblock metatitle%}</title>
    <!--J'utilise la balise link et la fonction asset pour rattacher ma feuille de style à mon html-->
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
    <link rel="stylesheet" href="{{ asset('css/bookdetails.css') }}">
</head>
<body>
<header class="header">
    <h1>LA BIBLIOTHÈQUE POUR TOUS</h1>
    <nav class="nav-bar">
        <ul class="menu">
            <li class="main-menu-element">
                <a href="{{ path('home') }}">Accueil</a>
            </li>
            <li class="main-menu-element">
                <a href="{{ path('books') }}">La bibliothèque</a>
            </li>
        </ul>
    </nav>
</header>
<main>

    {% block main %}{% endblock main %}

    <!--J'appelle la fonction Extends pour indiquer que j'intègre le contenu de-->
    <!--cette page dans mon fichier de base "base.html.twig"-->
    <!--Grâce à la fonction "block", j'intègre le contenu de mon "Main".-->

</main>
<footer class="footer">
    <div class="footer-group">
        <div class="footer-elements">
            <ul>
                <li><span>A propos</span></li>
                <li>Equipe</li>
                <li>Avis clients</li>
                <li>Conditions générales</li>
                <li>Mentions légales</li>
            </ul>
        </div>
    </div>
</footer>
</body>
</html>